In [30]:
import pandas as pd
from pandas import ExcelWriter
from pandas import ExcelFile
data=pd.read_excel("C:/Users/shajisamuel/Downloads/Telco-Customer-Churn.xlsx")
data.head()

,customerID,gender,SeniorCitizen,Partner,Dependents,tenure,PhoneService,MultipleLines,InternetService,OnlineSecurity,...,DeviceProtection,TechSupport,StreamingTV,StreamingMovies,Contract,PaperlessBilling,PaymentMethod,MonthlyCharges,TotalCharges,Churn
0,7590-VHVEG,Female,0,Yes,No,1,No,No phone service,DSL,No,...,No,No,No,No,Month-to-month,Yes,Electronic check,29.85,29.85,No
1,5575-GNVDE,Male,0,No,No,34,Yes,No,DSL,Yes,...,Yes,No,No,No,One year,No,Mailed check,56.95,1889.50,No
2,3668-QPYBK,Male,0,No,No,2,Yes,No,DSL,Yes,...,No,No,No,No,Month-to-month,Yes,Mailed check,53.85,108.15,Yes
3,7795-CFOCW,Male,0,No,No,45,No,No phone service,DSL,Yes,...,Yes,Yes,No,No,One year,No,Bank transfer (automatic),42.30,1840.75,No
4,9237-HQITU,Female,0,No,No,2,Yes,No,Fiber optic,No,...,No,No,No,No,Month-to-month,Yes,Electronic check,70.70,151.65,Yes

1.The number of customers owns their connection based on

In [31]:
# a) GENDER
data['gender'].value_counts()

Male      3555
Female    3488
Name: gender, dtype: int64

In [32]:
# b) CITIZENSHIP
data['SeniorCitizen'].value_counts()

0    5901
1    1142
Name: SeniorCitizen, dtype: int64

2. The number of customers left their service

In [33]:
# a) GENDER
data.groupby(['Churn','gender'])['gender'].count()

Churn  gender
No     Female    2549
       Male      2625
Yes    Female     939
       Male       930
Name: gender, dtype: int64

In [34]:
# a) SeniorCitizen
data.groupby(['Churn','SeniorCitizen'])['SeniorCitizen'].count()

Churn  SeniorCitizen
No     0                4508
       1                 666
Yes    0                1393
       1                 476
Name: SeniorCitizen, dtype: int64

3. Preference of payment method based on :

In [35]:
#a) CHURN
data.groupby(['PaymentMethod','Churn'])['Churn'].count()

PaymentMethod              Churn
Bank transfer (automatic)  No       1286
                           Yes       258
Credit card (automatic)    No       1290
                           Yes       232
Electronic check           No       1294
                           Yes      1071
Mailed check               No       1304
                           Yes       308
Name: Churn, dtype: int64

In [36]:
#b)CONTRACT
data.groupby(['PaymentMethod','Contract'])['Contract'].count()

PaymentMethod              Contract
Bank transfer (automatic)  Month-to-month     589
                           One year           391
                           Two year           564
Credit card (automatic)    Month-to-month     543
                           One year           398
                           Two year           581
Electronic check           Month-to-month    1850
                           One year           347
                           Two year           168
Mailed check               Month-to-month     893
                           One year           337
                           Two year           382
Name: Contract, dtype: int64

4. Internet service preference by gender based on churn status

In [37]:
data.groupby(['Churn','gender','InternetService'])['InternetService'].count()

Churn  gender  InternetService
No     Female  DSL                969
               Fiber optic        889
               No                 691
       Male    DSL                993
               Fiber optic        910
               No                 722
Yes    Female  DSL                219
               Fiber optic        664
               No                  56
       Male    DSL                240
               Fiber optic        633
               No                  57
Name: InternetService, dtype: int64

Explain the descriptive statistics of “TotalCharges” based on:

In [40]:
data1=data["TotalCharges"]
data1.groupby(data.PaymentMethod).describe()

,count,mean,std,min,25%,50%,75%,max
PaymentMethod,,,,,,,,
Bank transfer (automatic),1544.0,3083.566023,2360.362773,19.25,1052.3875,2479.500,4948.3375,8684.80
Credit card (automatic),1522.0,3074.920894,2410.536742,19.30,989.4000,2454.175,5016.5500,8670.10
Electronic check,2365.0,2090.868182,2155.435320,18.85,308.0500,1253.900,3340.5500,8564.75
Mailed check,1612.0,1083.236973,1509.101844,18.80,116.9375,473.675,1316.0000,8476.50